@font-face{
	font-family: aromaB;
	src: url("../_fonts/aromaB.ttf") format("truetype");
}

@font-face{
	font-family: simplifica;
	src: url("../_fonts/simplifica.ttf") format("truetype");
}

body, html{
	background-image: url(../_image/img01.jpg);
	font-family: simplifica;
	font-size: 20px;
	text-align: center; 
}

h1, h2{
	font-size: 40px;
	padding-top: 30px;
	text-align: center;
	color: #8baad8;
	font-family: aromaB;
	text-shadow: #190707 1px -1px, #190707 -1px 1px, #190707 1px 1px, #190707 -1px -1px;
}

.t1{
	font-size: 30px;
}

tr{
	font-family: simplifica;
	font-size: 30px;
}

.gp1{
	text-align: right;
}

td, th{
	padding: 10px;
}

.button{
		font-family: simplifica;
		font-size: 20px;
}

a{
	color: white;
}



.under{
 	padding-bottom: 25px;
 }

.link{
 	color: #0080FF;
}

.underline{
	text-decoration: underline;
}

.font{
 	text-align: left;
 	padding-left: 100px;
 	font-family: aromaB;
 	color: #212529;
	text-shadow: #BDBDBD 1px -1px, #BDBDBD -1px 1px, #BDBDBD 1px 1px, #BDBDBD -1px -1px;
}
