@font-face{
	font-family: aromaB;
	src: url("../_fonts/aromaB.ttf") format("truetype");
}

@font-face{
	font-family: simplifica;
	src: url("../_fonts/simplifica.ttf") format("truetype");
}

body, html{
	background-image: url("../_image/img01.jpg");
	font-family: simplifica;
	font-size: 20px;
}

#page{
	min-height: 100%;
	position: relative;
}

#geral {
	text-align: center;
	font-weight: bold;
	width: 70%;
	margin: 0 auto 0 auto;
}

.titulo{
	font-family: aromaB;
	color:#8baad8;
	font-size: 40px;
	padding-top: 30px;
	text-shadow: #190707 1px -1px, #190707 -1px 1px, #190707 1px 1px, #190707 -1px -1px;
	text-align: center;
}

a{
	color: white;
}

.rodp{
    font-size: 20px;
    padding: 1px;
 	text-align: center;
 	color: #212529;
 	text-shadow: #E0FFFF 1px -1px, #E0FFFF -1px 1px, #E0FFFF 1px 1px, #E0FFFF -1px -1px;
}

.under{
 	padding-bottom: 25px;
}

.link{
 	color: #0080FF;
}

.underline{
	text-decoration: underline;
}

.font{
 	text-align: left;
 	padding-left: 100px;
 	font-family: aromaB;
 	color: #212529;
	text-shadow: #BDBDBD 1px -1px, #BDBDBD -1px 1px, #BDBDBD 1px 1px, #BDBDBD -1px -1px;
}

#img01 {
	width: 175px;
	height: 175px;
}

#blockIF{
	width: 85%;
	margin: 0 auto 0 auto;
	font-weight: bold;
}

#blockModalidades{
    text-align: left;
	line-height: 15px;
}

.background{
	background-color: white;
	padding: 25px;
	opacity: 0.85;
}

p{
	font-size: 25px;
}

tr, th, td{
	font-size: 25px;
	padding-right: 200px;
	padding-left: 200px;
	text-align: center;
}  

td, th{
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

tr{
	font-family: simplifica;
	font-size: 30px;
}

.gp1{
	text-align: right;
}

td{
	padding: 10px;
}

.under{
	padding-bottom: 25px;
}

.link{
	color: #0080FF;
}

#aln{
   text-align: justify;
}

#lado{
   font-size: 40px;
}

.underline{
	text-decoration: underline;
}

.underline2{
    font-size: 30px;
	text-decoration: underline;
}

#imgIF{
	padding-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button{
	font-family: simplifica;
	font-size: 20px;
	text-align: center;
}

h2{
	font-size: 40px;
	padding-top: 30px;
	text-align: center;
	font-family: aromaB;
	text-shadow: #190707 1px -1px, #190707 -1px 1px, #190707 1px 1px, #190707 -1px -1px;
}