@font-face{
	font-family: aromaB;
	src: url("../_fonts/aromaB.ttf") format("truetype");
}

@font-face{
	font-family: simplifica;
	src: url("../_fonts/simplifica.ttf") format("truetype");
}

body, html{
	background-image: url("../_image/img01.jpg");
	font-family: simplifica;
	font-size: 20px;
}

#page{
	min-height: 100%;
	position: relative;
}

#geral {
    text-align: center;
	color: white;
	text-shadow: #000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
	width: 70%;
}

#t1{
	font-family: aromaB;
	color:#8baad8;
	font-size: 40px;
	padding-top: 30px;
	text-shadow: #190707 1px -1px, #190707 -1px 1px, #190707 1px 1px, #190707 -1px -1px;
}

a{
	color: white;
}

.rodp{
    font-size: 20px;
    padding: 1px;
 	text-align: center;
 	color: #212529;
 	text-shadow: #E0FFFF 1px -1px, #E0FFFF -1px 1px, #E0FFFF 1px 1px, #E0FFFF -1px -1px;
}

.under{
 	padding-bottom: 25px;
}

.link{
 	color: #0080FF;
}

.underline{
	text-decoration: underline;
}

.font{
 	text-align: left;
 	padding-left: 100px;
 	font-family: aromaB;
 	color: #212529;
	text-shadow: #BDBDBD 1px -1px, #BDBDBD -1px 1px, #BDBDBD 1px 1px, #BDBDBD -1px -1px;
}

#img01 {
	width: 175px;
	height: 175px;
}