.venv
.__pycache__
#372a05
__pycache__
https://play.google.com/books/reader?id=XWaRDwAAQBAJ&hl=pt&pg=GBS.PT53.w.4
env
venv
.env
.idea/
__pycache__


Clinica Escola de psicologia da UNIFG
Secretaria de Saude do municipio de Guanambi
Disc: prevesão ao suicidio