<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_Site.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteAbout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteFormD.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteFormP.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteRegister.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='_js/_JsFormD.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='_js/_JsFormP.js') }}"></script>

    <title> {% block title %} {% endblock title %} </title>
</head>

<body>
    
    {% block content %}
    {% endblock content %}

    <div id="footer"> <br/> <hr/>
        <h3 class="font">Contatos</h3> <br/>

        <table>

        <tr class="tb2"> <th class="tb2" class="space"><h3 class="underline"><b>Instituição</b></h3></th>
             <th  class="tb2" class="space"><h3 class="underline"><b>Participantes</b></th></h3></tr>

        <tr class="tb2"><th class="tb2"><h4 class="underline"><b>Endereço:</b></h4></th>
            <td>Projeto realizado pelos dicentes:</td></tr>

        <tr class="tb2"><td class="tb2">Zona Rural – Distrito de Ceraíma</td>
            <td class="tb2"> <a href="" class="link">Daniel Alves Cruz</a> </td></tr>
        
        <tr class="tb2"><td  class="tb2" class="under">CEP 46430-000</td>
            <td  class="tb2" class="under"> <a href="" class="link">Gabriel Soares Rocha</a> </td> </tr>

        <tr class="tb2"><th class="tb2"><h4 class="underline"><b>Contato:</b></h4></th>
             <th class="tb2"><h4 class="underline"><b>Docente responsável:</b></th></h4></tr>

        <tr class="tb2"><td class="tb2"><a href="" class="link"> Roberto Carlos Santana Lima (diretor-geral)</a></td>
            <td class="tb2"> <a href=""  class="link">Antonio Queiroz da Silva Neto</a> </td> </tr>
         
        <tr></tr>

        </table>
    </div>

</body>
</html>