<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='_image/img01.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_Site.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteFormP.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteAbout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='_css/_SiteRegister.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='_js/_JsFormP.js') }}"></script>

    <title> {% block title %} {% endblock title %} </title>
</head>

<body>
    
    {% block content %}
    {% endblock content %}

    <div id="footer"> <br/>
        <hr/>
        <h3 class="font">Contatos</h3>
        <hr/>
        <table width="100%">

            <tr class="">
                <th class="rodp" ><h3 class="underline"><b>Instituição</b></h3></th>
                <th class="rodp" ><h3 class="underline"><b>Participantes</b></h3></th>
            </tr>

            <tr class="">
                <th class="rodp"> <h4 class="underline"> <b>Endereço:</b></h4> </th>
                <th class="rodp"> <h4 class="underline"> <b>Projeto realizado pelos dicentes:</b> </h4></th>

            </tr>

            <tr class="">
                <td class="rodp">Zona Rural – Distrito de Ceraíma</td>
                <td class="rodp"> <a href="" class="link">Daniel Alves Cruz</a> </td></tr>

            <tr class="">
                <td  class="rodp" class="under">CEP: 46430-000</td>
                <td  class="rodp" class="under"> <a href="" class="link">Gabriel Soares Rocha</a> </td>
            </tr>

            <tr class="">
                <th class="rodp"><h4 class="underline"><b>Contato:</b></h4></th>
                <th class="rodp"><h4 class="underline"><b>Docente responsável:</b></h4></th>
            </tr>

            <tr class="">
                <td class="rodp"><a href="" class="link"> Roberto Carlos Santana Lima (diretor-geral)</a></td>
                <td class="rodp"> <a href=""  class="link">Antonio Queiroz da Silva Neto</a> </td>
            </tr>

            <tr>
                <td></td>
                <td class="rodp"> <a href=""  class="link">Cleyton Fabio Leite Batista</a> </td>
            </tr>

        </table>
    </div>

</body>
</html>