{% extends 'Base.html' %}

{% block title %}
Friendy Talk
{% endblock title %}

{% block content %}

<body> <div class="page">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
			   <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
		 </li>
		  <li class="nav-item">
			   <a class="nav-link" id="profile-tab" data-toggle="tab" href="/register" role="tab" aria-controls="profile" aria-selected="false"><b>Register</b></a>
		  </li>
		 <li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="/about" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
		  </li>
	</ul>

	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
	  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
	</div>

	<div id="geral">

		<h1 id="t1">Friendly Talk</h1> <br/>

		<h3>Este site foi projetado com a finalidade de ajudar pessoas que passam por problemas relacionados com depressão, além transtorno de ansiedade. E pensando nisso, decidimos nos unir para regastar a vida dessas pessoas de forma que possamos todos ter uma vida feliz! Já que muitas vezes essas pessoas que sofrem não conseguem nem mesmo sair de suas casas dependendo de seus problemas, decidirmos levar a ajuda até elas.</h3> <br> <br/>

		<h3>Caso tu não tenhas um cadastro em nosso site, poderás fazer teu castro 
			ao precionar uma das imagens.</h3> <br/>

		<table align="center">
			<tr>
				<td class="td1">
					<h3 class="img01">Nos permita lhe ajudar para tu superastes os teus problemas:</h3>
				</td>
				 <td class="td1">
					 <h3 class="img01">Jugar a vida do teu próximo é fácil , difícil é ajudá-lo a vencer os obstáculos:</h3>
				 </td>
			</tr>

			<tr>
				<td class="td1">
					<h3 class="img01"> Cadastre-se para Paciente</h3>
				</td>
				 <td class="td1">
					 <h3 class="img01"> Cadastro-se para Doutor</h3>
				 </td>
			</tr>

			<tr>
				<td>
					<a href="/form_pacient"><img class="img01" src="{{ url_for('static', filename='_image/img02.png') }}" /></a>
				</td>
				 <td>
					 <a href="/form_doctor"><img class="img01" src="{{ url_for('static', filename='_image/img03.png') }}" /></a>
				 </td>
			</tr>


		</table>

		<div id="footer"> <br/> <hr/>
			<h3 class="font">Contatos</h3> <br/>

			<table>

			<tr class="tb2"> <th class="tb2" class="space"><h3 class="underline"><b>Instituição</b></h3></th>
				 <th  class="tb2" class="space"><h3 class="underline"><b>Participantes</b></th></h3></tr>

			<tr class="tb2"><th class="tb2"><h4 class="underline"><b>Endereço:</b></h4></th>
				<td>Projeto realizado pelos dicentes:</td></tr>

			<tr class="tb2"><td class="tb2">Zona Rural – Distrito de Ceraíma</td>
				<td class="tb2"> <a href="" class="link">Daniel Alves Cruz</a> </td></tr>
			
			<tr class="tb2"><td  class="tb2" class="under">CEP 46430-000</td>
				<td  class="tb2" class="under"> <a href="" class="link">Gabriel Soares Rocha</a> </td> </tr>

			<tr class="tb2"><th class="tb2"><h4 class="underline"><b>Contato:</b></h4></th>
				 <th class="tb2"><h4 class="underline"><b>Docente responsável:</b></th></h4></tr>

			<tr class="tb2"><td class="tb2"><a href="" class="link"> Roberto Carlos Santana Lima (diretor-geral)</a></td>
				<td class="tb2"> <a href=""  class="link">Antonio Queiroz da Silva Neto</a> </td> </tr>
			 
			<tr></tr>

			</table>
		</div>

	</div>
	</div>
</body>

{% endblock content %}