{% extends 'Base.html' %}

{% block title %}
Take Care
{% endblock title %}

{% block content %}

<body> <div class="page">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
			   <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
		 </li>
		  <li class="nav-item">
			   <a class="nav-link" id="profile-tab" data-toggle="tab" href="/login" role="tab" aria-controls="profile" aria-selected="false"><b>Login</b></a>
		  </li>
		 <li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="/about" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
		  </li>
	</ul>

	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
	  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
	  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
	</div>

	<div id="geral" class="background">

		<h1 class="titulo">Take Care</h1> <br/>

		<h3>Este site foi projetado com a finalidade de ajudar pessoas que passam por problemas relacionados com depressão. O que muitas pessoas não sabem, é que muitas vezes estão sofrendo desse mal, mas não percebem. </h3> 
		<h3>Pensando nisso, decidimos criar um site que leve esta respota para elas, acontece que muitas pessoas nem querem sair de suas casas por causa dessa doença.</h3>
		<h3>Assim, estamos tentando levar a ajuda, que tanto precisam, à encontro delas.</h3><br> <hr/>

		
		<h3>Este formulário que estamos propondo, não tratará de perguntas pessoas como nome ou CPF, garantindo, dessa forma, que você mantenha sua confiança e confidencialidade ao entrar e sair do mesmo.</h3>
		<h3>Ele apenas medirá o seu nível de tristeza atual e trará uma possível resposta para isso tudo.</h3>
		<h3>Então, nos deixa-lhe ajudar um pouco seus problemas:</h3> <br/>

		<a href="/register"><img style="width: 175px; height: 175px;" id="img01" src="{{ url_for('static', filename='_image/img02.jpeg') }}" /></a>
		<h3> <b>Cadastre-se</b> </h3>
		
	</div>
	
</body>

{% endblock content %}