<!DOCTYPE html>
<html>

	<head>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<title>About - Friendly Talk</title>

		<link rel="stylesheet" type="text/css" href="../_css/_SiteAbout.css">

	</head>

	<body>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
  			<li class="nav-item">
   				<a class="nav-link" id="home-tab" data-toggle="tab" href="../Index.html" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
 			</li>
  			<li class="nav-item">
  		 		<a class="nav-link" id="profile-tab" data-toggle="tab" href="_Register.html" role="tab" aria-controls="profile" aria-selected="false"><b>Register</b></a>
 		 	</li>
 			<li class="nav-item">
   		 		<a class="nav-link active" id="contact-tab" data-toggle="tab" href="#_About.html" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
  			</li>
		</ul>

		<h1 id="t1">ABOUT US</h1> <br/>

		<a href="http://www.ifbaiano.edu.br/unidades/guanambi/"> <img id="img04" src="../_image/img04.jpg"> </a> <br/> <br/>

		<div id="div01">

			<p>O Instituto Federal Baiano (IF Baiano) – Campus Guanambi foi uma das unidades das antigas Escolas Agrotécnicas Federais (EAFs) incorporadas ao Instituto na criação dos Institutos Federais no Brasil pela Lei n. 11.892, de 29 de dezembro de 2008.</p>

			<p>Historicamente, nos anos noventa, criou-se a Escola Agrotécnica Antônio José Teixeira (Lei n. 8.670 de 1993) e foi transformada em autarquia com autonomia disciplinar e acadêmica e seu próprio quadro de pessoal e orçamento (Lei n° 8.731 de 1993).</p>

			<p>Situado dentro do Território de Identidade Sertão Produtivo, o campus forma profissionais e contribui com a melhoria dos produtos regionais, na qualificação e na assessoria técnica prestada aos pequenos e médios produtores rurais.</p> <br/> <hr/> 

			<h3 class="font"><b>Cursos</b></h3> <br/> 

			<h4 class="underline" class="font"><b>Modalidades</b></h4> <br/>

			<div id="div02">

				<p class="underline">Integrado (técnico)</p>
				<p>Agroindústria</p>
				<p>Agropecúaria</p>
				<p>Informática para Internet</p> <br/>

				<p class="underline">Subsequente/Pós-Médio (técnico)</p> 
				<p>Agricultura</p>
				<p>Zootecnia</p><br/>

				<p class="underline">Proeja – Programa Nacional de Integração da Educação Profissional com a Educação Básica na Modalidade de Educação de Jovens e Adultos (técnico)</p>
				<p>Informática</p><br/>

				<p class="underline">Bacharelado (superior)</p>
				<p>Engenharia Agronômica</p><br/>

				<p class="underline">Licenciatura (superior)</p>
				<p>Química</p><br/>

				<p class="underline">Tecnologia (superior)</p>
				<p>Agroindústria</p>
				<p>Análise e Desenvolvimento de Sistemas</p><br/>

				<p class="underline">Pós-graduação stricto sensu</p>
				<p>Mestrado profissional em Produção Vegetal no Semiárido</p><br/> <hr/> <br/>

				<h3 class="font" align="justify">Contatos</h3> <br/>

				<table>

				<tr> <th ><h3 class="underline"><b>Instituição</b></h3></th>
					 <th ><h3 class="underline"><b>Participantes</b></th></h3></tr>

				<tr><th><h4 class="underline"><b>Endereço:</b></h4></th>
					<td>Projeto realizado pelos dicentes:</td></tr>

				<tr><td>Zona Rural – Distrito de Ceraíma</td>
					<td> <a href="" class="link">Daniel Alves Cruz</a> </td></tr>
				
				<tr><td class="under">CEP 46430-000</td>
					<td class="under"> <a href="" class="link">Gabriel Soares Rocha</a> </td> </tr>

				<tr><th><h4 class="underline"><b>Contato:</b></h4></th>
				 	<th><h4 class="underline"><b>Docente responsável:</b></th></h4></tr>

				<tr><td><a href="" class="link"> Roberto Carlos Santana Lima (diretor-geral)</a></td>
					<td> <a href=""  class="link">Antonio Queiroz da Silva Neto</a> </td> </tr>
				 
				<tr></tr>

				</table>

			</div>

		</div>

	</body>
	
</html>