<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<meta charset="UTF-8" />
		
		<title>Formulário do Doutor - Friendly Talk</title>
		
		<link rel="stylesheet" type="text/css" href="../_css/_SiteFormD.css">
		
		<script type="text/javascript" src="../_js/_JsFormD.js"></script>

	</head>
	<body> 
		
		<nav>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
	 			<li class="nav-item">
	  		 		<a class="nav-link" id="home-tab" data-toggle="tab" href="../Index.html" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
	 		 	</li>
	 		 	<li class="nav-item">
	 		 		<a class="nav-link" id="profile-tab" data-toggle="tab" href="_Register.html" role="tab" aria-controls="profile" aria-selected="false"><b>Register</b></a>
	 		 	</li>
	 		 	<li class="nav-item">
	  		 		<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
	 		 	</li>
	  			<li class="nav-item">
	  		 		<a class="nav-link active" id="contact-tab" data-toggle="tab" href="#_FormP.html" role="tab" aria-controls="contact" aria-selected="false"><b>Form</b></a>
			  	</li>
			</ul>
		</nav>
		<div class="tab-content" id="myTabContent">
 			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
 			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
 			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
		</div>

		<h1>DOCTOR FORM</h1>
		<h2 class="t1">Register</h2>

		<form name="form" method="post" onsubmit="validar();">

			<table border="1" align="center" bgcolor="#c5dbff">
				<tr>
					<td class="gp1"><b>USUÁRIO:</b></td>
					<td><input  type="text" name="usuario" id="usuario" placeholder="" /></td>
				</tr>

				<tr>
					<td class="gp1"><b>NOME:</b></td>
					<td><input type="text" name="nome" id="nome" placeholder=" NOME COMPLETO"/></td>
				</tr>

				<tr>
					<td class="gp1"><b>IDADE:</b></td>
					<td><input type="number" name="age" id="age" min="1" max="99" step=""/></td>
				</tr>

				<tr>
					<td class="gp1"><b>SEXO:</b></td>
					<td><input type="text" name="sex" id="sex" placeholder=" MASC. ou FEMEN."/></td>
				</tr>

				<tr>
					<td class="gp1"><b>E-MAIL:</b></td>
					<td><input type="email" name="mail" id="mail" placeholder=" EX. '@' & '.' "/></td>
				</tr>

				<tr>
					<td class="gp1"><b>SENHA:</b></td>
					<td><input type="password" name="pass1" id="pass1" maxlength="10" placeholder=" MAX. 1O CARACTER" /></td>
				</tr>

				<tr>
					<td class="gp1"><b>CONFIRMAR:</b></td>
					<td><input type="password" name="pass2" id="pass2" maxlength="10" placeholder=" REPITA SUA SENHA" /></td>
				</tr>
			</table> <br/>

			<h2 class="t1">Reveling Data</h2>

			<table border="1" align="center" bgcolor="#c5dbff">
				
				<tr> <td colspan="2"> <ul><li><b> QUAL UNIVERSIDADE VOCÊ FAZ CURSO OU CURSOU?</b></li></ul></td> </tr>
				<tr> <td colspan="2"> <input type="text" name="nomeINU" id="INU" placeholder=""/></td> </tr>
				
				<tr> <td colspan="2"> <ul><li><b>PREENCHA COM SEU NÚEMERO IDENTIFICADOR OU MATRÍCULA</b></li></ul> </td> </tr>
				<tr> 
					<td colspan="2"> <input  type="text" name="ident" id="ident" placeholder=" OBRIGATÓRIO" /></td>
				</tr>
				
				<tr> <td colspan="2"> <ul><li><b> QUAL É O SEU GRAU DE ATUAÇãO?</b></li></ul> </td>  </tr>
				<tr> 
					<td><input type="radio" name="resp1"> ESTUDANTE UNIVERSITÁRIO</td>
					<td><input type="radio" name="resp1"> PROFISSIONAL</td> 
				</tr>
				
				<tr> <td> <ul><li><b>CASO ESTUDANTE, 
						SEMESTRE: </b></li></ul></td> <td><input type="number" min="1" id="resp2" /></td> </tr>

				<tr> <td colspan="2"> <ul><li><b>CASO PROFISSIONAL, ATUAL EM ALGUMA CLÍNICA?</b></li></ul> </td></tr>
				<tr> 
					<td>
						<input type="radio" name="resp2"><label> SIM   </label><input type="tex" id="resp2" placeholder=" NOME DA CLÍNICA"/>
					</td> 
					<td><input type="radio" name="resp2"><label> Não </label></td> 
					
				</tr>

				<tr> <td colspan="2"> <ul><li><b>JÁ ATENDEU ALGUMA PESSOA ANTES?</b></li></ul> </td> </tr>
				<tr> <td><input type="radio" name="resp3"> SIM</td> 
					 <td><input type="radio" name="resp3"> NãO</td> 
				</tr>
				

				<tr> 
					<td><label id="p1"> <ul><li><b>QUAL O SEU METODO DE ABORDAGEM?</b></li></ul> </label></td>
					<td>
						<select for="p1">
							<option>NENHUMA</option>
							<option>PSICANÁLISE</option>
							<option>SISTÊMICA</option>
							<option>GESTALT</option>
							<option>HUMANISTA</option>
							<option>JUNGUIANA</option>
							<option>LACANIANA</option>
							<option>COGNITIVA</option>
							<option>OUTRO</option>
						</select>
					</td>
				</tr>
				
				<tr> <td colspan="2" > <ul><li><b>QUAL DIA/HORA VOCÊ ENCONTRA-SE DISPONÍVEL PARA ATENDER</b></li></ul></td> </tr>
				<tr> 
					<td>
						<label id="td1">DIA </label>
						<select for="td1">
							<option>SEGUNDA-FEIRA</option>
							<option>TERÇA-FEIRA</option>
							<option>QUARTA-FEIRA</option>
							<option>QUINTA-FEIRA</option>
							<option>SEXTA-FEIRA</option>
							<option>SÁBADO</option>
							<option>DOMINDO</option>
						</select>
					</td> 
					<td>
						<label>HORA </label>
						<input type="time" id="td2" />
					</td>
				</tr>

				<tr align="center">
					<th colspan="3" ><input type="submit" name="submit" id="submit" align="center" class="btn btn-dark" value="ENVIAR"></th>
				</tr>
				
			</table>
		</form>

			<div id="footer"> <br/> <hr/>
				<h3 class="font">Contatos</h3> <br/> 

				<table>

				<tr class="tb2"> <th class="tb2" class="space"><h3 class="underline"><b>Instituição</b></h3></th>
					 <th  class="tb2" class="space"><h3 class="underline"><b>Participantes</b></th></h3></tr>

				<tr class="tb2"><th class="tb2"><h4 class="underline"><b>Endereço:</b></h4></th>
					<td>Projeto realizado pelos dicentes:</td></tr>

				<tr class="tb2"><td class="tb2">Zona Rural – Distrito de Ceraíma</td>
					<td class="tb2"> <a href="" class="link">Daniel Alves Cruz</a> </td></tr>
				
				<tr class="tb2"><td  class="tb2" class="under">CEP 46430-000</td>
					<td  class="tb2" class="under"> <a href="" class="link">Gabriel Soares Rocha</a> </td> </tr>

				<tr class="tb2"><th class="tb2"><h4 class="underline"><b>Contato:</b></h4></th>
				 	<th class="tb2"><h4 class="underline"><b>Docente responsável:</b></th></h4></tr>

				<tr class="tb2"><td class="tb2"><a href="" class="link"> Roberto Carlos Santana Lima (diretor-geral)</a></td>
					<td class="tb2"> <a href=""  class="link">Antonio Queiroz da Silva Neto</a> </td> </tr>
				 
				<tr></tr>

				</table>
			</div>

	</body>
</html>