{% extends 'Base.html' %}

{% block title %}
Take Care
{% endblock title %}

{% block content %}

<body> <div class="page">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
			   <a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
		 </li>
		  <li class="nav-item">
			   <a class="nav-link" id="profile-tab" data-toggle="tab" href="/login" role="tab" aria-controls="profile" aria-selected="false"><b>Register</b></a>
		  </li>
		 <li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="/about" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
		  </li>
	</ul> <br/>
    
        <h2 class="titulo">QUIZ</h2> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Você se senti muito triste?</th>
                    
            </tr>
            <tr>
                <td ><input type="radio" name="resp1"> Sim </td>
                <td> <input type="radio" name="resp1"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
    
            <tr>
                <th colspan="3">Você tem perdido a vontade de exercitar atividades que ram comum no seu dia a dia?</th>
            </tr>
            <tr>
                <td> <input type="radio" name="resp2"> Sim</td>
                <td> <input type="radio" name="resp2"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Perdeu ou ganhou peso ultimamente?</th>
            </tr>
            <tr>
                <td> <input type="radio" name="resp3"> Sim</td>
                <td> <input type="radio" name="resp3"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Seu apetite tem aumentado ou diminuido?</th>
            </tr>
            <tr>
                <td> <input type="radio" name="resp4"> Sim</td>
                <td> <input type="radio" name="resp4"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Se sente fadigado e com perda de energia?</th>
            </tr>
            <tr>
                <td> <input type="radio" name="resp5"> Sim</td>
                <td> <input type="radio" name="resp5"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;"> 
            <tr>
                <th colspan="3">Se sente inútil ou culpado de algo muito frequentemente</th>
            </tr>
            <tr>
                <td> <input type="radio" name="resp6"> Sim</td>
                <td> <input type="radio" name="resp6"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Está Indeciso? Não consegue pensar ou raciocinar em algo?</th>
                    
            </tr>
            <tr>
                <td> <input type="radio" name="resp7"> Sim</td>
                <td> <input type="radio" name="resp7"> não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Já pensou em suicídio?</th>
                    
            </tr>
            <tr>
                <td> <input type="radio" name="resp7"> Sim</td>
                <td> <input type="radio" name="resp7"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
            <tr>
                <th colspan="3">Já teve contato com um psicologo antes?</th>
                    
            </tr>
            <tr>
                <td><input type="radio" name="resp8"> Sim</td>
                <td><input type="radio" name="resp8"> Não</td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
    
            <tr>
                <th colspan="3">Se você respondeu "Sim" em pelos menos metade das outras perguntas, nos informe quanto tempo você se encontra nessa situação?</th>
            </tr>
            <tr>
                <td>Dias <input type="number" name="resp9" min="1" max="99"></td>
                <td>Meses <input type="number" name="resp10" min="1" max="99"></td>
                <td>Anos <input type="number" name="resp11" min="1" max="99"></td>
            </tr>
        </table> <br/>
    
        <table border="1" align="center" bgcolor="#c5dbff" style="width: 60%;">
    
            <tr align="center">
                <th colspan="3"><input type="submit" name="quiz" id="quiz" align="center" class="btn btn-dark"  value="ANALISAR"></th>
                    
            </tr>
    
        </table>
    </form>

</body>

{% endblock content %}