{% extends 'Base.html' %}

{% block title %}
Register - Take Care
{% endblock title %}

{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		 <a class="nav-link" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
   </li>
	<li class="nav-item">
		 <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#_Register" role="tab" aria-controls="profile" aria-selected="false"><b>Register</b></a>
	</li>
   <li class="nav-item">
		  <a class="nav-link" id="contact-tab" data-toggle="tab" href="/about" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
	</li>
</ul>

<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

<div id="div01">
	<h3 id="t1">LOGIN:</h3> <br/> 

	<form name="form" method="POST" onsubmit="validar();">

	  	<table border="1" align="center" bgcolor="#c5dbff">
			<tr class="tr">
				<td class="tb1" class="gp1"><b>USUÁRIO:</b></td>
				<td class="tb1"><input type="text" name="nome" id="nome" placeholder=""/></td>
			</tr>

		  	<tr class="tr">
				<td  class="tb1" class="gp1"><b>SENHA:</b></td>
				<td class="tb1"><input type="password" name="password" id="password"  step=""/></td>
	  		</tr>

			<tr class="tr" align="center">
				<th  class="tb1" colspan="2"><input type="submit" name="submit" id="submit" align="center" class="btn btn-dark" value="Enter"></th>
			</tr>
		</table>

	</form>
</div>

{% endblock content %}