{% extends 'Base.html' %}

{% block title %}
Take Care
{% endblock title %}

{% block content %}

<body> <div class="page">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
		   <a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"><b>Home</b></a>
		</li>
		{% if current_user.is_authenticated %} 
		  <li class="nav-item">
			   <a class="nav-link" id="profile-tab" data-toggle="tab" href="{{ url_for('Logout') }}" role="tab" aria-controls="profile" aria-selected="false"><b>Logout</b></a>
		  </li>
		{% else %}
		  <li class="nav-item">
			   <a class="nav-link" id="profile-tab" data-toggle="tab" href="{{ url_for('Login') }}" role="tab" aria-controls="profile" aria-selected="false"><b>Login</b></a>
		  </li>
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="/about" role="tab" aria-controls="contact" aria-selected="false"><b>About</b></a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" id="contact-tab" data-toggle="tab" href="#/solution3" role="tab" aria-controls="contact" aria-selected="false"><b>Profile</b></a>
		</li>
	</ul> <br/>

<div class="background">
    <h3>Nível de depressão a ser considerado: <u>Alta</u></h2> <hr/> <br/>
    <h3>Você com altos índices de depressão. É de extrema importância que se tome uma atitude.</h3>
    <h3>Em primeira mão, vocẽ pode entrar em contato com a Secretaria de Saúde do município de Guanambi situada na Praça Henrique Pereira Donato, 90, Centro Guanambi - BA / Telefonista (77) 3452-4300. Ou entre em contato com ela pelo número fixo: (77) 3452-4306.</h3>
    <h3>Se não se sinta comfortável com um orgão da sua cidade, você poderá fazer uma ligação para o Centro de Valorização da Vida no número 188 ou acesso o website deles (www.cvv.org.br), eles fazem o atendimento 24 horas por dia, 7 dias por semana.</h3> <hr/> <br/>
    <h3>Se sentir uma alteração no seu estado emocional, <a href="/quiz">faça o questionário novamente.</a></h3>
</div>

</body>

{% endblock content %}